* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1380px;
    margin: auto;
}

/* -----------------HEADER------------------ */

header {
    color: white;
    text-align: center;    
    background-color: #FF6900;
}

.nav {
    display: flex;
    align-items: center;
    height: 70px;
}

.nav > .nav-pages {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
}

.nav > .nav-pages > li {
    list-style: none;
}

.nav > .nav-pages > li > a, 
.nav > .nav-icons > a {
    text-decoration: none;
    color: white;
}

.nav > .nav-pages > li > a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.nav > .nav-pages {
    width: 20%;
}

.nav > .nav-logo {
    width: 60%;
}

.nav > .nav-logo img {
    height: 30px;
}

.nav-icons {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.nav-pages *, .nav-icons * {
    padding: 0 2px;
}

/* -----------------LAYOUT------------------ */

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    position: relative;
    margin-top: 50px;
}

.product-card img {
    width: 447px;
}

.product-card .like,
.product-card .tag {
    position: absolute;
}

.tag {
    color: white;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 500;
}

.tag-red {
    background-color: red;
    bottom: 110px;
}

.tag-green {
    background-color: green;
    left: 60px;
    bottom: 110px;
}

.like {
    border: none;
    padding: 15px;
    background-color: white;
    font-size: 20px;
    top: 10px;
    right: 0;
}

.product-card span:nth-of-type(1){
    color: red;
    font-weight: 500;
}

.product-card span:nth-of-type(2){
    text-decoration: line-through;
}